/**************** GLOBAL CSS RULES ******************************/


body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}


header {
    /*background-color: hsla(0, 0%, 12%, 0.95); */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px 70px;
    justify-items: center;
    grid-gap: 5px 5px;
    margin: 0px 0px 10px 0px;



}
.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 10px 10px 0px 0px;

}



.main-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: stretch;
}

h1 {
    font-weight:500;
}

h1, h2, nav a {
    font-family: 'Oswald';
    color: white;
}
.signup-form {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-self:stretch;
    align-self: baseline;
}

nav {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

#nav-placeholder a {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 20px 20px;
    text-align: start;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: crimson;
    font-weight:900;
}

footer {
    background-color:hsla(0, 0%, 10%, 1);
    
    width: 100%;
    height: 50px;
    bottom: 0;
    
}
footer p {
    color: white;
    font-weight:500;
    text-align: center;
    padding: 15px 5px 5px 5px;
}


/***********************************************
**************** MAIN PAGE CSS *****************
************************************************/

.slider {
    display: block;
   /* background-color: rgba(0, 0, 0, 0.8); */
    margin: 0px 0px -10px 0px;
    height: 500px;

}




/************************************
************** NEWS CSS *************
*************************************/

article {
    /*background-color: hsla(0, 0%, 12%, 0.95); */
    width: auto;
    height: 100%;
    padding: 20px 70px;
    

}
.article {
    width: 90%;
    display: grid;
    grid-template-rows: 70px 250px;
    grid-template-columns: 200px 1fr;
}
.date {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 0px 40px 10px 20px;
}

.date h1 {
    text-align: right;
}

.h1a h2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-transform: uppercase;
}



.share {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

}
.content {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
p, main p, .content p {
    color: hsla(0, 0%, 77%, 1);
    line-height: 21px;
    letter-spacing: 1px;
    font-family: serif;
    font-weight: 200;
}

.contact {
    /* background-color: hsla(0, 0%, 12%, 0.95); */
    height: auto;
    padding: 50px;
}

.opacity {
    background-color: hsla(0, 0%, 13.3%, 0.97);
}

/**********************************************
********* SINGLE ALBUM CSS ********************
***********************************************/

.album {
    display: grid;
    grid-template: 500px 200px / 1fr 1fr;
}

.buy {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.cover {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.get-free {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;

}

