/**************** GLOBAL CSS RULES ******************************/


body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}


header {
    /*background-color: hsla(0, 0%, 12%, 0.95); */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px 70px;
    justify-items: center;
    grid-gap: 5px 5px;
    margin: 0px 0px 10px 0px;



}
.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 10px 10px 0px 0px;

}



.main-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: stretch;
}

h1 {
    font-weight:500;
}

h1, h2, h3, nav a {
    font-family: 'Oswald';
    color: white;
}
.signup-form {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    justify-self:stretch;
    align-self: baseline;
}

nav {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

#nav-placeholder a {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 20px 20px;
    text-align: start;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: crimson;
    font-weight:900;
}

.full-width-text {
    padding: 10px 50px;
}

p {
    color: hsla(0, 0%, 77%, 1);
    line-height: 21px;
    letter-spacing: 1px;
    font-family: serif;
    font-weight: 200;
}
footer {
    background-color:hsla(0, 0%, 10%, 1);
    
    width: 100%;
    height: 50px;
    bottom: 0;
    
}
footer p {
    color: white;
    font-weight:500;
    text-align: center;
    padding: 15px 5px 5px 5px;
}

.opacity {
    background-color: hsla(0, 0%, 13.3%, 0.97);
}




/***********************************************
**************** MAIN PAGE CSS *****************
************************************************/

.slider {
    display: block;
   /* background-color: rgba(0, 0, 0, 0.8); */
    margin: 0px 0px -10px 0px;
    height: 500px;

}




/************************************
************** NEWS CSS *************
*************************************/


    


.article {
    width: 90%;
    display: grid;
    grid-template-rows: 70px 250px;
    grid-template-columns: 200px 1fr;
}
.date {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 0px 40px 10px 20px;
}

.date h1 {
    text-align: right;
}

.h1a h2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-transform: uppercase;
}



.share {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

}
.content {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}



.contact {
    /* background-color: hsla(0, 0%, 12%, 0.95); */
    height: auto;
    padding: 50px;
}


/**********************************************
********* SINGLE ALBUM CSS ********************
***********************************************/

.album {
    display: grid;
    grid-template: 500px 200px / 1fr 500px;
    margin: 20px;
}

.buy {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;

}
.buy h2 {
    text-align: center;
    
    
}

.cover {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.cover img {
    width: 400px;
    border: 10px solid white;
    margin: 40px;
    
}

.get-free {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;

}
.buy {
    padding-left: 30px;
}
.buy h3 {
    /*text-transform: uppercase;*/
    color:hsla(0, 0%, 100%, 1);
    /*font-weight: 700;
    font-size: larger;*/
    display: inline;
}
.buy p {
    display: inline;
}


.buy a {
    text-decoration: none;
    display: inline;
    margin: 20px;
}
.buy img {
    height: 40px;
    vertical-align: middle; 
}
.buy div {
    margin: 30px 0px;
}

button {
    height: 37px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 14pt;
    transition: ease-in;
    transition-duration: 100ms;
    
}
button:hover {
    background-color: orange;
    
}

.buybuttons {
    display: flex;
}
