/************************************************************
************* GENERAL and MAIN CSS ***************************
*************************************************************/


html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../images/bkg4high.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: grey;
  margin: 0px;
  height:100%;
  
}
header {
  display: grid;
  grid-template-columns: repeat(9, 1fr) minmax(300px, 350px);
  grid-template-rows: minmax(75px, auto) minmax(3rem, auto);
  margin: 0%;
}
.logo {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 80px;
  padding-top: 5px;
}
h1 {
  color:hsla(0, 0%, 90%, 1);
  grid-column: 4/10;
  grid-row: 1/2;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  justify-self: center;
  font-size: 2rem;
  
}
h2, h3, h4, h5, h6 {
  color:hsla(0, 0%, 90%, 1);
}
p {
  color:hsla(0, 0%, 85%, 1);
}
.subscribe {
  grid-column: 10/11;
  grid-row: 1/3;
  min-width: 300px;
}
nav {
  grid-column: 3/10;
  grid-row: 2/3;
  justify-self: center;
  
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  list-style-type: none;
}
nav a {
  box-sizing: border-box;
  text-decoration: none;
  color:hsla(0, 0%, 90%, 1);
  padding: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; 
  transition: all linear 100ms;
}
nav a:hover {
  color: hsl(0, 75%, 50%)
}
.slider {
  width: 100%;
  margin: 0px;
}
main {
  position:relative;
  display: block;
  margin: 2rem 0px;
  min-height: 400px;
  
  overflow: scroll;
}
.opacity {
  background-color: hsla(0, 0%, 15%, 0.97);
}
footer {
  
  background-color:hsl(0, 0%, 15%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  
}
.facons {
  padding-top:0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  font-size: 1.7rem;
  letter-spacing: 2rem;
  color: hsl(0, 0%, 90%);
}
.facons a {
  color: hsl(0, 0%, 90%);
}
.facons a:hover {
  color:hsl(0, 0%, 60%);
}


footer p {
  font-family: "Quattrocento", serif;
  color:hsl(0, 0%, 90%);
  text-align: center;
  font-size: 0.8rem;
}
@media only screen and (max-width: 768px) {
  header {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 50px 100px 1fr;
  }
  .logo {
    grid-row: 1/2;
    grid-column: 3/4;
    margin-bottom: 1rem;

  }
  h1 {
    grid-row: 2/3;
    grid-column: 1/6;
    
  }
  .subscribe {
    grid-row: 3/4;
    grid-column:2/5;
  }
  nav{
    grid-row: 4/5;
    grid-column: 1/6;
  }
}
@media only screen and (max-width: 375px) {
  header {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 50px 100px 1fr;
  }
  .logo {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 1rem;
  }
  h1 {
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: 1.5rem;
  }
  .subscribe {
    grid-row: 3/4;
    grid-column:1/4;
  }
  nav{
    grid-row: 4/5;
    grid-column: 1/4;
  }
  nav a {
    font-size: 0.7rem;
  }
  .facons {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 280px) {
  header {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 50px 1fr;
  }
  .logo {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-bottom: 1rem;
  }
  h1 {
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: 1.2rem;
  }
  .subscribe {
    display:none;
  }
  nav {
    grid-row: 3/4;
    grid-column:1/4;
  }
  nav a {
    font-size: 0.5rem;
  }
  .facons {
    font-size: 1rem;
  }
  
}


/****************************************************************
********************* NEWS LIST PAGE ****************************
*****************************************************************/

.news {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  box-sizing: border-box;
  border: solid 0.3px hsla(0, 0%, 70%, 0.5);
  margin: auto;
  
}
main h2 {
  text-align: center;
  padding-top: 1rem;
}
.date {
  width: 20%;
  
}
.date p {
  font-size: 1.2rem;
  font-weight:200;
  
  text-align: center;
  margin-right: 20px;
}
.extract {
  max-width: 70%;
}
.readmore {
  box-sizing: border-box;
  border: solid 1px white;
  color:hsl(0, 0%, 90%);
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none; 
}
.readmore:hover {
  color:hsl(0, 0%, 75%);
  border-color: hsl(0, 0%, 75%);
}

/****************************************************************
***************** FONTS *****************************************
****************************************************************/

           /************ OSWALD ****************/

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /*********** QUATTROCENTO *************/

  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quattrocento/v12/OZpEg_xvsDZQL_LKIF7q4jP3w2j6XYvVuQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quattrocento/v12/OZpbg_xvsDZQL_LKIF7q4jP_eE3vcKnYk3Qc9g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /****************** OPEN SANS ******************/
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hrIqOxjaPX.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Zdc1GAK6b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhrIqOxjaPX.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }